/* Genel Stil */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #444;
    font-size: 2.5rem;
}

/* Form Stili */
.add-task-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
    width: 90%;
}

.add-task-form input, .add-task-form button {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-task-form input:focus, .add-task-form button:hover {
    outline: none;
    border-color: #007bff;
}

.add-task-form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-task-form button:hover {
    background-color: #0056b3;
}

/* Tablo Stili */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

tbody tr:last-child td {
    border-bottom: none;
}

/* Buton Stili */
button {
    padding: 5px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    transform: scale(1.05);
}

button.delete {
    background-color: #dc3545;
    color: white;
}

button.delete:hover {
    background-color: #a71d2a;
}

button.complete {
    background-color: #28a745;
    color: white;
}

button.complete:hover {
    background-color: #1e7e34;
}

/* Haftalık Rapor Butonu */
#download-report-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#download-report-btn:hover {
    background-color: #117a8b;
}
